{% extends 'core/base.html' %}


{% block container %}

<div class="col-sm-6 offset-sm-3">
<h1 class="">TODO SAYISI: {{ todos.count }} </h1>
{% if category %}
    <h2> Kategori : {{ category }} </h2>
{% elif tag %}
    <h2> Kategori : {{ tag }} </h2>
{% endif %}
    <div class="list-group">
        {% for todo in todos %}
        <a href="{{ todo.get_absolute_url }}" class="list-group-item list-group-item-action" aria-current="true">
            {{ todo.title }}
        </a>
        {% endfor %}
    </div>
</div>

    

{% endblock container %}
